<shop-navbar></shop-navbar>
<div class="containter pt-90 mb-5">
    <h1 class="mb-2">
        Alışveriş Sepetiniz
    </h1>
    <hr>
    <div class="row">
        <div class="col-8">
            <ng-container *ngIf="cart.howManyItemsInCart>0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ürün</th>
                            <th>Tane Fiyatı</th>
                            <th>Miktar</th>
                            <th>Toplam Fiyat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart.items">
                            <td><img src="/assets/img/{{item.product.imageUrl}}" width="80px" alt="{{item.product.name}}"></td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.product.price}}</td>
                            <td>
                                <input style="width: 35px;" [defaultValue]="1" type="text" class="form-control" #deger [value]="deger.value"
                                (change)="cart.updateQuantity(item.product,+deger.value)">
                            </td>
                            <td>{{item.product.price? item.quantity*item.product.price:0}}</td>
                            <td><button (click)="cart.removeItemFromCart(item.product)" class="btn btn-danger btn-sm">Sepetten Çıkar</button></td>
                        </tr>
                    </tbody>
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Toplam Ürün Sayısı</th>
                        <th>Sepetteki Toplam Fiyat</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{cart.howManyItemsInCart}}</td>
                            <td>{{cart.totalPrice}} TL</td>
                            <td>
                            <button class="btn btn-outline-warning" (click)="cart.clearCart()">
                                Sepeti Temizle
                            </button>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngIf="cart.howManyItemsInCart==0">
                <div class="alert alert-warning">
                    Sepetinizde Ürün Bulunmamaktadır
                    <br>
                    <button routerLink="/shop" class="btn btn-link">
                        Alışverişe Devam Etmek İçin Tıklayınız
                </button>
                </div>
            </ng-container>
        </div>
        <div class="col-4">
            <ng-container *ngIf="cart.howManyItemsInCart>0">
                <h3>Sepet Özeti</h3>
                <hr>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Toplam Sepet Tutarı : </th>
                            <td>{{cart.totalPrice}} TL</td>
                        </tr>
                        <tr>
                            <th>Toplam Ürün Sayısı : </th>
                            <td>{{cart.howManyItemsInCart}}</td>

                        </tr>
                        <tr>
                            <th>Aldığınız Ürünler</th>
                        </tr>
                        <tr *ngFor="let item of cart.items">
                            <td>{{item.product.name}}</td>
                            <td>x{{item.quantity}}</td>
                        </tr>
                        <td><button routerLink="/checkout" class="btn btn-outline-success">Ödeme Ekranına Git</button></td>
                        <td><button routerLink="/shop" class="btn btn-outline-primary">Alışverişe devam et</button></td>

                        <br>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</div>

